<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>Países</mat-label>
                <mat-select (selectionChange)="dayOneLive($event.value)">
                    <mat-option *ngFor="let c of arrayCountries" [value]="c.Slug">
                        {{c.ISO2}} - {{c.Country}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngIf="resultdayOneLive">
            <div class="card" style="width: 18rem;">
                <img src="https://s2.glbimg.com/alVJTMnLNTPbK42da6jdKg6qxBs=/0x0:800x450/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/6/K/5UvfQKRASlBHpbe0Q6lg/foto-1-getty-images.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">COVID 19 - {{resultdayOneLive.Country}}</h5>
                    <p class="card-text">Casos confirmados: {{resultdayOneLive.Cases}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="resultdayOneLive">
            <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
    </div>
</div>