<ion-content class="bgGeral">
  <div class="container">
    <div class="txt-center card-profile">
      <img
        src="https://media-exp1.licdn.com/dms/image/C5603AQFrDJB6Xqz6HQ/profile-displayphoto-shrink_200_200/0/1600379513171?e=1627516800&v=beta&t=jHIoPqI4vrHlL8RVK9VI2CWjRg_I3-7i2q49sfB6Aww"
        class="profile">
      <div>
        <span>Danilo Sérvulo, 20 <ion-icon name="create-outline"></ion-icon></span>
      </div>
    </div>
    <div class="title-med" style="font-size: 18px">
      Dados sobre mim:
    </div>
    <div>
      <br>
      <ion-list  style="--background: #E1F0F0">
        <ion-item *ngFor="let item of detailMe" style="--background: #E1F0F0">
          <ion-avatar slot="start">
            <img [src]="item.icon">
          </ion-avatar>
          <ion-label class="subtitle-med">{{item.text}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>